{% extends 'base.html.twig' %}

{% block title %}Admin :{% endblock %}

{% block myTitle %}Administration page{% endblock %}

{% block body %}

{% for message in app.flashes('success') %}
    <div class="alert alert-success mx-2" role="alert">
        {{ message }}
    </div>
{% endfor %}

    <a href="{{path('admin_food_creation')}}" class="btn btn-success mb-2 ms-2">Add</a>
    <table class="table table-striped mx-2">
        <tr class="table-primary">
            <th>Image</th>
            <th>Food</th>
            <th>Price</th>
            <th>Category</th>
            <th>Calories</th>
            <th>Proteins</th>
            <th>Carbohydrates</th>
            <th>Fats</th>
            <th>Actions</th>
        </tr>
        {% for food in foodList %}
            <tr>
                <td><img class="perso_imgFoodAdmin" src="{{asset('images/food/' ~ food.image)}}" alt="{{ food.name }}"></td>
                <td><strong>{{ food.name }}</strong></td>
                <td>{{ food.price }}</td>
                <td>{{ food.type.fieldName }}</td>
                <td>{{ food.calories }}</td>
                <td>{{ food.protein }}</td>
                <td>{{ food.carbohydrates }}</td>
                <td>{{ food.fats }}</td>
                <td>
                    <a href="{{path('admin_food_modifications', {"id": food.id })}}" class="btn btn-secondary">Edit</a>
                    
                    <form onSubmit="return confirm('Do you really want to delete this food ?')" class="d-inline" data: {turbo: false} method="post" action="{{path('admin_food_deletion', {"id": food.id })}}">
                        <input type="hidden" name="_method" value="deletion"/>
                        <input type="hidden" name="_token" value="{{ csrf_token('SUP' ~ food.id) }}">
                        <input type="submit" value="Delete" class="btn btn-danger"/>
                    </form >
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
